<head>
	<link rel = "stylesheet"
   type = "text/css"
   href = "../addStyle.css" />
</head>

<h3>{{viewTitle}}</h3>
<form action="/reward" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{reward._id}}">
	<div class="form-group">
		Member_ID:<br>
		<input type="numbers" class= "form-control" name="member_id" placeholder = "Member_ID" value="{{reward.member_id}}" required="required" pattern="{1,20}">
		<br>
	</div>
	<div class="form-group">
		Reward_ID:<br>
		<input type="numbers" class= "form-control" name="reward_id" placeholder = "Reward_ID" value="{{reward.reward_id}}" required="required" pattern="{1,20}">
		<br>
	</div>
	<div class="form-group">
		Reward Amount:<br>
		<input type="numbers" class= "form-control" name="reward_amount" placeholder = "Reward Amount" value="{{reward.reward_amount}}" required="required" pattern="{1,20}">
		<br><br>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
		<button type="reset" class= "btn btn-info">Reset</button>
		<button type="view" class="btn btn-info"><a  href="/reward/list"><i class="fa fa-list-alt"></i>View All</a> </button>
		<button type="menu" class="btn btn-info"><a  href="/menu"><i class="fa fa-list-alt"></i>Menu</a> </button>
	</div>
</form>
