<head>
	<link rel = "stylesheet"
   type = "text/css"
   href = "../listStyle.css" />
</head>

<h3>Membership List</h3>
<table class table table-striped>
<thead>
<tr>
<th>Member ID</th>
<th>Level ID</th>
<th>Start Date</th>
<th>Expiry Date</th>
<th>Status</th>
<th></th>
</tr>
</thead>
<tbody>
{{#each list}}
<tr>
<td>{{this.member_id}}</td>
<td>{{this.level_id}}</td>
<td>{{this.start_date}}</td>
<td>{{this.expiry_date}}</td>
<td>{{this.stat}}</td>
<td><button type="button" value="Edit"><a href="/membership/{{this._id}}">Edit</button></td>
</tr>
{{/each}}
</tbody>
</table>
<button type="menu" class="btn btn-info"><a  href="/menu"><i class="fa fa-list-alt"></i>Menu</a> </button>

