<head>
	<link rel = "stylesheet"
   type = "text/css"
   href = "../addStyle.css" />
</head>

<h3>{{viewTitle}}</h3>
<form action="/staff" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{staff._id}}">
	<div class="form-group">
		Staff_ID:<br>
		<input type="numbers" class= "form-control" name="staff_id" placeholder = "Staff_ID" value="{{staff.staff_id}}" required="required" pattern="{1,20}">
		<br>
	</div>
	<div class="form-group">
		Staff First name:<br>
		<input type="text" class= "form-control" name="staff_firstname" placeholder = "Staff First Name" value="{{staff.staff_firstname}}" required="required" pattern="[A-z]{1,20}" title="Please enter the name of not more than 20 words.">
		<br>
	</div>
	<div class="form-group">
		Staff Last name:<br>
		<input type="text" class= "form-control" name="staff_lastname"  placeholder = "Staff Last Name" value="{{staff.staff_lastname}}" required="required" pattern="[A-z]{1,20}" title="Please enter the name of not more than 20 words.">
		<br>
	</div>
	<div class="form-group">
		Password:<br>
		<input type="text" class= "form-control" name="pwd"  placeholder = "Password" value="{{staff.pwd}}" required="required" pattern="[A-z]{1,20}" title="Please enter the name of not more than 20 words.">
		<br>
	</div>
	<div class="form-group">
		Position:<br>
		<input type="text" class= "form-control" name="position"  placeholder = "Position" value="{{staff.position}}" required="required" pattern="[A-z]{1,20}" title="Please enter the name of not more than 20 words.">
		<br>
	</div>
	<div class="form-group">
		Phone No.:<br>
		<input type="text" class= "form-control" name="phone" value="{{staff.phone}}" placeholder = "Phone" pattern="[0-9]{1,11}" title="Please enter the phone no. of not more than 11 numbers.">
		<br>
	</div>
	<div class="form-group">
		Email:<br>
		<input type="email" class= "form-control" name="email" value="{{staff.email}}" placeholder = "Email" pattern="[A-z0-9@.]{1,100}" title="Please enter the email of not more than 50 strings.">
		<br><br>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
		<button type="reset" class= "btn btn-info">Reset</button>
		<button type="view" class="btn btn-info"><a  href="/staff/list"><i class="fa fa-list-alt"></i>View All</a> </button>
		<button type="menu" class="btn btn-info"><a  href="/menu"><i class="fa fa-list-alt"></i>Menu</a> </button>
	</div>
</form>
